


<label class="mb-1" for="email-register">Email</label>
<br>
<input class="form-control mb-2"  type="email" name="email" id="email-register" maxlength="35" value="{{this.email}}">



<label class="mb-1" for="password-register">Heslo</label>
<br>
<input class="form-control mb-2"   type="password" name="password" id="password-register" minlength="7" maxlength="35" value="{{this.password}}">


{{!-- <label for="avatar-register">Nahrej profilovou fotku</label>
<br>
<input type="file" name="avatar" id="avatar-register"  accept="image/png, image/jpeg">
<br> --}}

      
        