<div class="error-box">
    
    <h4>Změna Hesla</h4>
    
    {{>formError}}
</div>

<div class="shadow form-container card p-3">  

    <form name="change-password-form" id="change-password-form"  action="/user/changepassword" method="POST" onsubmit="return validatePasswordChange(this);">
        
        <input type="hidden" name="id" value="{{id}}">

        <label class="mb-1" for="current-password">Heslo</label>
        <br>
        <input class="form-control mb-2" type="password" id="current-password" name="password">

        <label  class="mb-1" for="new-password">Nové heslo</label>
        <br>
        <input id="new-password" class="form-control mb-2" type="password" id="new-password" name="newpassword">

        <label class="mb-1" for="new-password-confirm">Potvrdit nové heslo</label>
        <br>
        <input id="new-password-confirm" class="form-control mb-2" type="password" id="new-password-confirm" name="newpasswordconfirm">
       

        <input type="submit" value="Změnit heslo" id="zmenit-heslo" form="change-password-form"  class="btn btn-primary m-1">


    </form>
    <a href="/user/{{id}}" class="btn btn-secondary m-1">Zrušit</a>

</div>