<div class="dash-nav-wrapper">
    {{>dashboardNav}}
</div>

<h1>Osobní profil</h1>

<div class="error-box">
    {{>formError}}
</div>
{{#if avatar}}
    <div  id="avatar-profile" class="mb-2">
            <img src="/uploads/avatar/{{avatar}}" alt="profile image">
    </div>
{{/if}}  
 

<div class="shadow form-container  card p-3">
    <form class="p-2" method="POST"   action="/user/update" id="form-update">
        {{>register-form}}
    <input type="hidden" name="userId" value="{{userId}}">
    <input  class="btn btn-primary w-100 mb-2" type="submit" name="submit-register" id="submit-update" value="Aktualizovat" form="form-update" >
    <a  href="/user/confirmDelete?id={{userId}}" class="btn btn-danger w-100 mb-2" type="button" id="zrusit-profil" form="form-update" >Zrušit profil</a>
    </form>
{{!-- file upload --}}
    <form method="POST" name="avatar-form" enctype="multipart/form-data"  action="/user/avatar/{{userId}}" id="form-avatar" onsubmit="return validateAvatar();" >
        <label class="mt-5" for="avatar-register">Nahrej profilovou fotku</label>
        <br>
        <input class="btn" type="file" name="avatar" id="avatar-register"  accept="image/png, image/jpeg image/jpg">
        <br> 
        <input  class="btn btn-primary mt-2 w-100" type="submit" name="submit-image" id="submit-update" value="Uložit fotku" form="form-avatar" >
    </form>
    

</div>